 # DATA CLEANING WITH PANDAS


 Data source - https://data.cityofnewyork.us/Environment/2015-Street-Tree-Census-Tree-Data/uvpi-gqnh/about_data

Handling pandas dataframe - https://sparkbyexamples.com/pandas/how-to-count-duplicates-in-pandas-dataframe/

In [1]:
# Install required modules
%pip install pandas
%pip install matplotlib
%pip install seaborn

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (2.2.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\roaming\python\python312\site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (2.2.1)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from seaborn) (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
# Import data abd show one observation
df = pd.read_csv('../Data Cleaning with Pandas/Data/NewYorkTreesHealthCensus.csv')
df.sample()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,Latitude,longitude,x_sp,y_sp
34322,09/10/2015,670901.0,307082.0,POINT (-73.81809800569752 40.724147796240764),0.0,12,OnCurb,Stump,NaN,NaN,...,27.0,15.0,QN37,Kew Gardens Hills,4077907.0,New York,40.724148,-73.818098,1034669.63,203155.4632

## Explore the dataframe

In [28]:
# View structure of dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  50000 non-null  object
 1   tree_id     49873 non-null  float64
 2   block_id    49967 non-null  float64
 3   the_geom    50000 non-null  object
 4   tree_dbh    49895 non-null  float64
 5   stump_diam  50000 non-null  int64
 6   curb_loc    50000 non-null  object
 7   status      49674 non-null  object
 8   health      47732 non-null  object
 9   spc_latin   47732 non-null  object
 10  spc_common  47732 non-null  object
 11  steward     10715 non-null  object
 12  guards      4953 non-null   object
 13  sidewalk    47732 non-null  object
 14  user_type   50000 non-null  object
 15  problems    15603 non-null  object
 16  root_stone  50000 non-null  object
 17  root_grate  50000 non-null  object
 18  root_other  50000 non-null  object
 19  trnk_wire   50000 non-null  object
 20  trnk_light  50000 non-null  object
 21  trnk_other  50000 non-null  object
 22  brnch_ligh  50000 non-null  object
 23  brnch_shoe  50000 non-null  object
 24  brnch_othe  50000 non-null  object
 25  address     50000 non-null  object
 26  zipcode     50000 non-null  int64
 27  zip_city    50000 non-null  object
 28  cb_num      50000 non-null  float64
 29  borocode    50000 non-null  float64
 30  boroname    49976 non-null  object
 31  cncldist    50000 non-null  float64
 32  st_assem    50000 non-null  float64
 33  st_senate   50000 non-null  float64
 34  nta         50000 non-null  object
 35  nta_name    50000 non-null  object
 36  boro_ct     50000 non-null  float64
 37  state       50000 non-null  object
 38  Latitude    50000 non-null  float64
 39  longitude   50000 non-null  float64
 40  x_sp        50000 non-null  float64
 41  y_sp        50000 non-null  float64
dtypes: float64(13), int64(2), object(27)
memory usage: 16.0+ MB

In [29]:
# Structure 
print('Dimension of data : ', df.shape)
print('Dataframe type : ', type(df))

Dimension of data :  (50000, 42)
Dataframe type :  <class 'pandas.core.frame.DataFrame'>

This is a large dataset, lets subset the data by randomly selecting 5000 observations.

In [30]:
# Select 5000 random rows

subset = df.sample(n=2000)
subset.shape

(2000, 42)

In [31]:
# Column data types
subset.dtypes

created_at     object
tree_id       float64
block_id      float64
the_geom       object
tree_dbh      float64
stump_diam      int64
curb_loc       object
status         object
health         object
spc_latin      object
spc_common     object
steward        object
guards         object
sidewalk       object
user_type      object
problems       object
root_stone     object
root_grate     object
root_other     object
trnk_wire      object
trnk_light     object
trnk_other     object
brnch_ligh     object
brnch_shoe     object
brnch_othe     object
address        object
zipcode         int64
zip_city       object
cb_num        float64
borocode      float64
boroname       object
cncldist      float64
st_assem      float64
st_senate     float64
nta            object
nta_name       object
boro_ct       float64
state          object
Latitude      float64
longitude     float64
x_sp          float64
y_sp          float64
dtype: object

In [32]:
# Print column names
subset.columns.values

array(['created_at', 'tree_id', 'block_id', 'the_geom', 'tree_dbh',
       'stump_diam', 'curb_loc', 'status', 'health', 'spc_latin',
       'spc_common', 'steward', 'guards', 'sidewalk', 'user_type',
       'problems', 'root_stone', 'root_grate', 'root_other', 'trnk_wire',
       'trnk_light', 'trnk_other', 'brnch_ligh', 'brnch_shoe',
       'brnch_othe', 'address', 'zipcode', 'zip_city', 'cb_num',
       'borocode', 'boroname', 'cncldist', 'st_assem', 'st_senate', 'nta',
       'nta_name', 'boro_ct', 'state', 'Latitude', 'longitude', 'x_sp',
       'y_sp'], dtype=object)

In [33]:
# Check columns of integer values
subset.describe()

,tree_id,block_id,tree_dbh,stump_diam,zipcode,cb_num,borocode,cncldist,st_assem,st_senate,boro_ct,Latitude,longitude,x_sp,y_sp
count,1998.000000,2000.000000,1996.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2.000000e+03,2000.000000,2000.000000,2.000000e+03,2000.000000
mean,441319.872873,324016.013000,11.741483,0.424500,10935.374000,354.859000,3.469500,30.730000,49.698500,20.100500,3.518471e+06,40.697407,-73.917520,1.007093e+06,193398.114824
std,153626.251227,109559.603634,8.762205,3.185651,738.585118,109.954696,1.110714,13.956521,19.332161,7.422058,1.118382e+06,0.090523,0.129088,3.581378e+04,32979.708267
min,20330.000000,100597.000000,0.000000,0.000000,83.000000,101.000000,1.000000,1.000000,23.000000,10.000000,1.000202e+06,40.499542,-74.251794,9.142346e+05,121368.503400
25%,307981.000000,226213.500000,5.000000,0.000000,10456.000000,305.000000,3.000000,20.000000,31.000000,14.000000,3.024375e+06,40.626434,-73.976255,9.908270e+05,167523.216975
50%,440019.000000,325225.000000,10.000000,0.000000,11220.000000,405.000000,4.000000,30.000000,49.000000,19.000000,4.028300e+06,40.696402,-73.901262,1.011582e+06,193012.820750
75%,574565.750000,406132.750000,17.000000,0.000000,11369.250000,413.000000,4.000000,44.000000,63.000000,24.000000,4.110250e+06,40.758836,-73.823926,1.033052e+06,215761.498200
max,720875.000000,602415.000000,56.000000,62.000000,11694.000000,503.000000,5.000000,51.000000,87.000000,36.000000,5.031902e+06,40.906710,-73.701497,1.066972e+06,269632.068100

In [34]:
# Select few columns 
df2 = subset[['created_at','tree_id','tree_dbh','status','address','boroname','Latitude', 'longitude']]
df2.columns.values

array(['created_at', 'tree_id', 'tree_dbh', 'status', 'address',
       'boroname', 'Latitude', 'longitude'], dtype=object)

In [35]:
# Check the first 5 observations
df2.head()

,created_at,tree_id,tree_dbh,status,address,boroname,Latitude,longitude
46480,09/14/2015,656048.0,31.0,Alive,244-040 90 AVENUE,Queens,40.726724,-73.722530
37826,11/09/2015,450362.0,8.0,Alive,256 LACONIA AVENUE,Staten Island,40.588902,-74.087436
27433,11/13/2015,446224.0,7.0,Alive,240-041 ARLEIGH ROAD,Queens,40.775642,-73.746701
4714,12/09/2015,374987.0,4.0,Alive,1500 BLONDELL AVENUE,Bronx,40.845805,-73.844877
43319,09/14/2015,683376.0,4.0,Alive,2345 EAST 74 STREET,Brooklyn,40.617193,-73.900734

In [25]:
# Check the first 5 observations
df2.tail()

,created_at,tree_id,tree_dbh,status,address,boroname,Latitude,longitude
179677,10/22/2015,517159.0,22.0,Alive,1946 OCEAN PARKWAY,Brooklyn,40.601339,-73.966477
499881,08/31/2016,23338.0,7.0,Alive,163-023 19 AVENUE,Queens,40.780878,-73.799250
138213,10/14/2015,562175.0,28.0,Alive,2765 EAST 64 STREET,Brooklyn,40.606020,-73.913821
486439,09/10/2016,192021.0,17.0,Alive,132 MOFFAT STREET,Brooklyn,40.686420,-73.907421
483996,09/07/2016,196136.0,3.0,Alive,171 GRAHAM BOULEVARD,Staten Island,40.577701,-74.088443

## Duplicate Values.

These are rows that have exactly the same values across all columns. Since the tree_id uniqely identifies each tree, we will count values in this column.

In [38]:
duplicates = len(df2['tree_id'])-len(df2['tree_id'].drop_duplicates())
duplicates

AttributeError: 'int' object has no attribute 'size'

2000

In [117]:
duplicates = len(df2)-len(df2.drop_duplicates())
duplicates

0

## Missing Values.

In [95]:
# Check if any column contains a muissing value
print(df2.isnull().any())

created_at    False
tree_id        True
tree_dbh      False
status         True
address       False
boroname      False
Latitude      False
longitude     False
dtype: bool